@charset "utf-8";


/*calendarLabel style*/
.calLabel {
    text-align: center ;
}
/*calendar style*/
.calendar {
    border: solid 1px;
}



/*satday color*/
.satday {
    color: #0033ff;
}
/*sunday color*/
.sunday {
    color: #ff0000;
}

/*storeClosed mark*/
.storeclosed {
    border-color:#ff0000;
    border-style:solid;
    border-width:1px;
}
/*comletelyClosed mark*/
.compclosed {
    border-color:#ff0000;
    border-style:double;
    border-width:3px;
}